# venv
.venv/
venv/
__pycache__/
*.pyc

# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# data
data/raw/
data/processed/

# outputs
outputs/models/

# env
.env

# system
.DS_Store

# PyCharm
.idea/