# venv
.venv/
venv/
__pycache__/
*.pyc

# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# data
data

# outputs
outputs/models/

# downloaded model weights
downloads

# env
.env

# system
.DS_Store

# PyCharm
.idea/
